.create-course-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form-group p {
  font-size: 0.9rem;
  color: var(--text-secondary);
  margin: 0.25rem 0 0.5rem 0;
}
.form-group input, .form-group textarea, .form-group select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 1rem;
}